</html>
<body>
<p>Acceuil connecter</p>
<a href="/seecomposant">voir les composant</a>
<a href="/ajout">Ajouter des composants</a>
<a href="/seepanier">Voir son panier</a>
<a href="/seeoldcommande">Voir ces anciennes commandes</a>
</body>

</html>
