</html>
<body>
<p>inscription</p>

<form method="post" action="inscription">

   <p>
     <label for="name">Votre nom :</label>
     <input type="text" name="name" id="name" />

     <br />

     <label for="firstname">Votre prenom :</label>
     <input type="text" name="firstname" id="firstname" />

     <br />


       <label for="identifiant">Votre pseudo :</label>
       <input type="text" name="identifiant" id="identifiant" />

       <br />


       <label for="numstreet">Votre Numero de rue :</label>
       <input type="number" name="numstreet" id="numstreet" />

       <br />


       <label for="street">Votre rue :</label>
       <input type="text" name="street" id="street" />

       <br />


       <label for="city">Votre ville :</label>
       <input type="text" name="city" id="city" />

       <br />

       <label for="cp">Votre code postale :</label>
       <input type="number" name="cp" id="cp" />

       <br />

       <label for="country">Votre Pays :</label>
       <input type="text" name="country" id="country" />

       <br />


       <label for="password">Votre mot de passe :</label>
       <input type="password" name="password" id="password" />


        <br />


       <label for="phone">Votre numero de telephone :</label>
       <input type="number" name="phone" id="phone" />


       <input type="submit">
   </p>
</form>
</body>

</html>
