</html>
<body>
<p>Ancienne commande</p>


<% commande.forEach(function(commande, index) { %>
<% commande.forEach(function(commande, index) { %>

  <p> <%= commande.marque %></p>
  <p> <%= commande.prix %></p>
  <p> <%= commande.type %></p>
  <p> <%= commande.nom %></p>
  <% }); %>
  <% }); %>


</body>

</html>
